export(calculateReturns)
export(combinePrices)
export(emaMomentum)
export(emaStrength)
export(loadStocks)
export(portfolioRebalancingReturns)
export(portfolioReturn)
export(priceToEMA)
export(priceToHILO)
export(randomFilter)
export(simpleMomentum)
export(simpleStrength)
