export(backtestMomentum)
export(backtestMomentumLS)
export(calculateReturns)
export(combinePrices)
export(emaMomentum)
export(emaStrength)
export(estimateParameters)
export(estimateParametersHistorically)
export(hedgeRatio)
export(isStationaryDF)
export(isStationaryURDF)
export(loadStocks)
export(portfolioRebalancingReturns)
export(portfolioReturn)
export(priceToEMA)
export(priceToHILO)
export(randomFilter)
export(simpleMomentum)
export(simpleStrength)
